@import "../abstracts/variables";

.bestSellers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  padding: 5rem 10%;

  &__title {
    font-size: 3rem;
    color: #666;
    margin-top: 3rem;
  }

  &__container {
    margin-top: 2rem;

    display: flex;
    flex-direction: row;
    gap: 3.5vw;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__double {
    display: flex;
    gap: 3.5vw;
    flex: 1 1 20rem;
  }

  &__box {
    flex: 1 1 20rem;
    display: flex;
    flex-direction: column;

    background-color: transparent;

    &:hover {
      transform: translateY(-0.5rem) scale(1.005);
    }

    & img {
      width: 100%;
      cursor: pointer;
      padding: 1rem;
      flex: 1 0 8rem;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    & h3 {
      text-align: center;
      font-size: 1.4rem;
      //padding: 0 1rem;
      //margin-top: 1rem;
      cursor: pointer;
    }

    & a {
      text-align: center;
      font-size: 1.7rem;
      font-weight: 700;
      margin: 1rem;
      cursor: pointer;
      color: $font-navy;
    }
  }
}
