@import "../abstracts/variables";

.header {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: $paddingTop-header-title; // 10%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icon {
    width: 5rem;
  }

  &__title {
    display: flex;
    align-items: center;

    &-icon {
      font-size: 3rem;
      color: #fff;

      margin: 0rem 1rem;
    }

    &-text {
      padding: 0rem 1rem;
    }
  }
}

.header__navbar {
  display: flex;
  align-items: center;

  font-size: 2rem;

  a {
    margin: 0 1rem;
  }

  &-cart {
    position: relative;
    border: 0.2rem solid $font-white;
    margin: -0.2rem;
    margin-left: 1rem;
    & img {
      width: 5rem;
      font-size: 2rem;
      margin: -1rem 0 -1.5rem 0rem;
      color: #fff;
      //background-color: rgb(91, 135, 170);
      padding: 1rem;
      //border-radius: 5rem;
    }

    a {
      color: $font-white;
      margin-left: 0rem;
    }

    & span {
      position: absolute;
      font-size: 1.5rem;
      width: 1.7rem;
      height: 1.7rem;

      display: flex;
      justify-content: center;
      align-items: center;

      color: $font-white;
      top: 0.1rem;
      left: 2rem;
      //background-color: red;
      border-radius: 50%;
    }
  }
}
