@import "../abstracts/variables";

.header {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6.4rem;
  padding: 0 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icon {
    width: 5rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;

    &-icon {
      font-size: 3rem;
      color: #fff;

      margin: 0rem 1rem;
    }

    &-text {
      padding: 0rem 1rem;
    }
  }

  &__burger {
    display: none;
    cursor: pointer;
    & div {
      width: 2.5rem;
      height: 0.3rem;
      background-color: #fff;
      margin: 0.5rem;
    }
  }
}

.header__navitems {
  display: flex;
  align-items: center;

  a {
    margin: 0 1rem;
  }

  &-cart {
    position: relative;
    border: 0.2rem solid $font-white;
    margin: -0.2rem;
    margin-left: 1rem;
    cursor: pointer;
    & img {
      width: 5rem;
      font-size: 2rem;
      margin: -1rem 0 -1.5rem 0rem;
      color: #fff;
      //background-color: rgb(91, 135, 170);
      padding: 1rem;
      //border-radius: 5rem;
    }

    a {
      color: $font-white;
      margin-left: 0rem;
    }

    & span {
      position: absolute;
      font-size: 1.5rem;
      width: 1.7rem;
      height: 1.7rem;

      display: flex;
      justify-content: center;
      align-items: center;

      color: $font-white;
      top: 0.1rem;
      left: 1.9rem;
      border-radius: 50%;
    }
  }
}

@media screen and (max-width: 980px) {
  .header__navitems {
    //display: none;
    opacity: 0;
    position: absolute;
    right: 0rem;
    top: 6.4rem;
    height: 100vh;
    background-color: $font-gray;
    width: 15rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translateX(100%);
    transition: transform 0.2s linear;
  }

  .header__burger {
    display: block;
  }
}

.active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 0.2s linear;
}

.modal {
  text-align: center;
  height: 85vh;

  margin: 10rem 10%;
  background-color: #fff;

  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 2rem;

  &__box {
    border: 1px solid black;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
