@import "../abstracts/variables";
@import "../abstracts/mixins";

.header {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6.4rem;
  padding: 0 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icon {
    width: 5rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;

    &-icon {
      font-size: 3rem;
      color: #fff;

      margin: 0rem 1rem;
    }

    &-text {
      padding: 0rem 1rem;
    }
  }

  &__burger {
    display: none;
    cursor: pointer;
    & div {
      width: 2.5rem;
      height: 0.3rem;
      background-color: #fff;
      margin: 0.5rem;
    }
  }
}

.header__navitems {
  display: flex;
  align-items: center;

  a {
    margin: 0 1rem;
  }

  &-cart {
    position: relative;
    border: 0.2rem solid $font-white;
    margin: -0.2rem;
    margin-left: 1rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    & img {
      width: 5rem;
      font-size: 2rem;
      margin: -1rem 0;
      //margin: -1rem 0 -1.5rem 0rem;
      color: #fff;
      //background-color: rgb(91, 135, 170);
      padding: 1rem;
      //border-radius: 5rem;
    }

    p {
      color: $font-white;
      margin-right: 0.5rem;
      font-size: 2rem;
    }

    & span {
      position: absolute;
      font-size: 1.5rem;
      width: 1.7rem;
      height: 1.7rem;

      display: flex;
      justify-content: center;
      align-items: center;

      color: $font-white;
      top: 0.4rem;
      left: 1.9rem;
      border-radius: 50%;
    }
  }
}

@media screen and (max-width: 980px) {
  .header__navitems {
    //display: none;
    opacity: 0;
    position: absolute;
    right: 0rem;
    top: 6.4rem;
    height: 100vh;
    background-color: $font-gray;
    width: 15rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translateX(100%);
    transition: transform 0.2s linear;
  }

  .header__burger {
    display: block;
  }
}

.active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 0.2s linear;
}

.modal {
  text-align: center;
  height: 50vh;
  padding: 1rem;

  margin: 25vh calc(25% - 8rem);
  background-color: #fff;

  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 2rem;

  &__container {
    height: 80%;

    display: flex;
    flex-direction: column;

    overflow: auto;
  }

  &__box {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;

    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid black;

    img {
      width: 8rem;
    }
  }

  &__itemContent {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;

    h5,
    span {
      text-align: left;
      flex-shrink: 0;
    }

    h5 {
      font-size: 1.4rem;
    }

    span {
      font-size: 1.4rem;
    }

    &-price {
      display: flex;
      align-items: center;
      flex: 0 1 20rem;
      justify-content: space-between;

      select {
        padding: 0.5rem 3rem;
      }
      option {
        text-align: left;
      }

      button {
        @include checkoutButton($background: transparent);
        padding: 0 2rem;
        margin: 1rem 0.5rem;
      }
    }
  }

  &__priceDiv {
    display: flex;
    flex-direction: column;

    padding: 0 1rem;

    &-oldPrice {
      font-size: 1.2rem;
      color: $font-gray;
      text-decoration: line-through;
      text-align: right;
    }

    &-newPrice {
      font-size: 1.4rem;
      font-weight: 700;
      text-align: right;
    }
  }

  &__total {
    display: flex;
    justify-content: space-between;

    h4,
    span {
      font-size: 2.4rem;
    }
  }

  &__buttons {
    text-align: right;

    &-cancel {
      @include checkoutButton($background: transparent);
    }
    &-checkout {
      @include checkoutButton(
        $background: $color-red-dark,
        $font-color: $font-white
      );
    }
  }

  &__empty {
    font-size: 2.4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
