@import "../abstracts/variables";
@import "../abstracts/mixins";

.home {
  //margin-top: $font-size-title + (2 * $paddingTop-header-title) + 1rem;
  padding: 2rem 10%;
  min-height: 100vh;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 1.5rem;

  background: linear-gradient(to top, rgba(0, 0, 0, 0.55), transparent),
    url(../../assets/banner/bannerImage1.jpg);
  //background-image: url(../../assets/banner/bannerImage1.jpg);
  background-size: cover;
  background-position: bottom right;

  &__text {
    flex: 1 1 40rem;

    & h2 {
      color: #fff;
      text-shadow: black 0rem 0.2rem 0.6rem;
    }

    &-paragraph {
      padding: 1rem 0;
      color: #fff;
      text-shadow: black 0rem 0.2rem 0.2rem;
    }

    &-button {
      @include mainButton;
      //background-color: transparent;
    }
  }

  &__display {
    flex: 1 1 40rem;

    display: flex;
    align-items: center;
    justify-content: center;

    &-image {
      width: 100%;
      padding: 5rem;
      max-width: 50rem;
    }
  }
}
