@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --color-primary: #d4c4f9;
  --color-primary-light: #fff7ff;
  --color-primary-dark: #a294c6;

  --color-background-grey: #f7f7f7;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba($color: #000000, $alpha: 0.3);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  transition: all 0.2s linear;

  // outline: 1px solid black;
  // outline-offset: -1px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;

  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;

  background: #f7f7f7;

  // background: linear-gradient(to top, rgba(0, 0, 0, 0.55), transparent),
  //   url(../../assets/mostPopular/seamless/seamless2.jpg);
  // background-size: 30rem;
  // background-repeat: repeat;
}
