@import "../abstracts/variables";

.header {
  &__title-text,
  &__navbar a {
    font-size: $font-size-title;
    color: $font-white;
  }
}

.home {
  &__text-title {
    font-size: 5rem;
  }

  &__text-paragraph {
    font-size: 1.7rem;
    color: $font-gray;
  }
}
